<div class="for_home">
    <%= button_to "Add New Blog" , new_blog_path, method: :get  %>
    <%= button_to "Home" , root_path, method: :get %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
</div>
<h1 style="margin-top:100px;">Edit blog here</h1>

<%= render "form" %>

